@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body {
    background-color : #b2d4cd;
    width: 960px;
    margin:auto;
    
}

header {
    height: 120px;
}

img {

    height: 100px;
    margin-left: 366px;
    width: 250px;
}
footer p {
text-align: center;
}

footer ul li {

text-align: center;

list-style: none;
display: inline;
margin-left: 220px;

}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

main ol {
    background-color: darkgoldenrod;
}

main ol :nth-child(odd){
    color: blue;
}

main ul {
    background-color: chartreuse;
}

main ul :nth-child(even){
    color: rgb(253, 5, 5);
}